<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652473972799-19nk1ekbklh9ok2elkndqvqv91c69ph9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652473972799-19nk1ekbklh9ok2elkndqvqv91c69ph9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>652473972799-g0qsa275524g4rrlgkuanciomk45852g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcAqzRj0R9YX7by2AnjCp-uxjXjbwQfbw</string>
	<key>GCM_SENDER_ID</key>
	<string>652473972799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.meetnative</string>
	<key>PROJECT_ID</key>
	<string>fire-redux-85834</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-redux-85834.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652473972799:ios:05c82a569864b98d</string>
	<key>DATABASE_URL</key>
	<string>https://fire-redux-85834.firebaseio.com</string>
</dict>
</plist>